@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.logo {
  height: 50px;
}
.text-green {
  color: #59b200 !important;
}
/*.bg-gray{
	background: #333333;
}
.bg-green{
	background: #59b200;
}*/
.text-black {
  color: #000000 !important;
}
a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #59b200;
  transition: 0.5s;
}
.min-h-100 {
  min-height: 100vh;
}
.min-h-70 {
  min-height: 70vh;
}

.active {
  font-weight: bold;
  color: #59b200 !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #59b200 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(89 178 0 / 25%);
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #333333;
  box-shadow: inset 0 -1px 0 rgb(89 178 0/ 13%);
}

.accordion-body {
  border: 2px solid #59b200;
}

/*faq-contact*/
.desktop-faq ul li {
  list-style: none;
}
.desktop-faq ul li a {
  text-decoration: none;
  color: #59b200 !important;
  border-bottom: 4px solid #ffffff !important;
}
.desktop-faq ul li a:hover {
  border-bottom: 4px solid #59b200 !important;
  transition: 0.5s;
  cursor: pointer;
}
.desktop-faq ul li a.active {
  border-bottom: 4px solid #59b200 !important;
  transition: 0.5s;
}
@media (min-device-width: 767px) {
  #faq-contact-us {
    height: calc(100vh - 50px);
    padding: 54px;
    margin-bottom: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    border-radius: 20px;
  }
  #faq-for-sm {
    display: none !important;
  }
  .desktop-faq {
    display: block !important;
  }
}
@media (min-device-width: 280px) and (max-device-width: 766px) {
  .desktop-faq {
    display: none !important;
  }
  #faq-for-sm {
    outline: block !important;
  }
  #faq-for-sm ul li {
    list-style: none;
  }
  #faq-for-sm ul li a {
    list-style: none;
    text-decoration: none;
    color: #59b200 !important;
  }
}
/*faq-contact ends*/

.how-we-get .owl-nav::before {
  /*width: 1px;*/
  background-color: #000;
  display: none;
}

.how-we-get .owl-nav .owl-prev {
  color: #333333 !important;
  font-size: 30px !important;
  margin-bottom: 5px;
  background-color: #ffffff !important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.how-we-get .owl-nav .owl-prev:hover {
  color: #59b200 !important;
  margin-bottom: 0px;
  font-size: 35px !important;
  background-color: transparent !important;
}

.how-we-get .owl-nav .owl-next {
  color: #333333 !important;
  font-size: 30px !important;
  margin-bottom: 5px;
  background-color: #ffffff !important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.how-we-get .owl-nav .owl-next:hover {
  color: #59b200 !important;
  margin-bottom: 0px;
  font-size: 35px !important;
  background-color: transparent !important;
}
.btn-get-started {
  transition: 0.25s;
  padding: 10px 10px;
  background: #333333;
  border-radius: 5px;
  font-size: 17px;
  color: #ffffff;
  border: 1px solid #333333;
}
.btn-get-started:hover {
  transition: 0.25s;
  padding: 10px 10px;
  background: #ffffff;
  color: #333333;
  border: 1px solid #333333;
}
.fa-s-card i {
  font-size: 70px;
}
.fa-s-card p {
  font-size: 14px;
}
footer {
  word-spacing: 10px;
}

.r-pass {
  outline: none;
  border: none;
}
.r-form {
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 28px 0px rgba(89, 178, 0, 1);
  -moz-box-shadow: 0px 4px 28px 0px rgba(89, 178, 0, 1);
  box-shadow: 0px 4px 28px 0px rgba(89, 178, 0, 1);
}
.r-input {
  outline: none;
  border: 2px solid #59b200;
  border-radius: 15px;
}
.form-control:focus {
  background-color: #fff;
  border-color: #59b200;
  box-shadow: none;
}
.btn-theme {
  border: none;
  outline: none;
  background: #59b200;
  height: 40px;
  width: 120px;
  color: #ffffff;
  border-radius: 15px;
  transition: 0.5s;
  font-weight: bolder;
}
.btn-theme:hover {
  transition: 0.5s;
  background: #88cd43;
}
#login .btn-theme {
  width: 100% !important;
}
.r-bor-bg {
  border-top: 4px solid gray;
  background: #faf8f8;
}
.r-cards-escrow {
  border: 35px solid #59b200;
}
