{% extends 'base.html' %}
{% load static %}

{% block title %} FTX | About {% endblock title %}

{% block main %}
<section class="d-flex align-items-center bg-gray" style="margin-top: 120px">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="p-3">
               <h4 class="mb-4">
                  We’re a Australian based escrow company helping businesses and
                  When using an Escrow Service provider, we understand that it’s
                  important to make sure you trust the Escrow Company you’ve
                  chosen. At FTX Express we have taken multiple steps to provide
                  peace of mind for all our customers.
               </h4>
               <h4>How are we Regulated?</h4>
               <p class="mb-3">
                  FTX Express is reigistered in Australia with ACN 657907894. FTX
                  Express is authorised by ASIC under The Payment Systems
                  (Regulation) Act 1998 with registration number 81777620 for the
                  provision of payment services. Please note that our
                  authorisation with the Australian Securities & Investment
                  Commission (ASIC) applies only in relation to payment services
                  transactions.
               </p>
               <h4>Where are my Funds kept?</h4>
               <p class="mb-3">
                  FTX Express bank with one of Australias leading banks. We have
                  declared a trust over our dedicated client escrow bank account.
                  <br />
                  The fact we operate a client account means that client funds are
                  segregated from our own funds, and the trust adds additional
                  peace of mind. Your money held by FTX Express would be safe even
                  if FTX Express were to become insolvent, as the insolvency
                  practitioners could not distribute client money to pay for debts
                  of the business, as the trust segregates them.
               </p>

               <h4>What identity checks do we carry out?</h4>
               <p class="mb-3">
                  FTX Express bank with one of Australias leading banks. We have
                  declared a trust over our dedicated client escrow bank account.
                  <br />
                  The fact we operate a client account means that client funds are
                  segregated from our own funds, and the trust adds additional
                  peace of mind. Your money held by FTX Express would be safe even
                  if FTX Express were to become insolvent, as the insolvency
                  practitioners could not distribute client money to pay for debts
                  of the business, as the trust segregates them.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container-fluid d-flex align-items-center">
      <div class="container">
         <h2 class="text-center my-5">
            If you would like more information on our KYC / AML process please
            don’t hesitate to contact us.
         </h2>
      </div>
   </div>
</section>
{% endblock main %}