{% extends 'base.html' %}
{% load static %}

{% block title %} FTX | Accounts {% endblock title %}

{% block main %}
<div class="container-fluid" style="margin-top: 120px">
   <div class="row">
      <div class="col-12 d-flex justify-content-center">
         <section class="cnt ">
            <section>
               <div id="div6" class="targetDiv">
                  <div class="question-area">
                     <div class="my-3">
                        <h4 class="mb-3">
                           How will my funds be held for escrow?
                        </h4>
                        <p>
                           Once you have an escrow agreement in place, and signed by all parties, the next step will be
                           to deposit the funds / real property with the escrow service provider. If it is real property
                           (e.g. antiques or source code on memory stick) that will be held by the escrow service
                           provider, they will have previously agreed with the parties a location for the property to be
                           kept, and upon signing the escrow agreement the escrow service provider will request the
                           property to be transferred to this location.
                           When funds are to be placed into escrow, the escrow service provider will make the request
                           for the funds to be deposited upon signing the escrow agreement. The escrow service provider
                           will supply the party depositing the funds with the relevant account information to make the
                           payment. It is common for escrow service providers to hold the funds in a dedicated client
                           account that is held in the escrow service provider’s name, much like a solicitor would. The
                           client account can be “ring-fenced”, meaning that the Bank acknowledges that the funds held
                           within the account do not belong to the escrow service provider. It also means that the funds
                           can not be used for the needs of the business, for example if the escrow service provider
                           were to become insolvent, the funds held in the client account could only be returned to the
                           person who deposited them.
                           Once the funds have been deposited the escrow service provider will typically use accounting
                           software to allocate the funds to the project. They will then confirm to all relevant parties
                           that the funds have been received.
                           Our team would be happy to talk through how escrow services can be applied to your
                           transactional projects. To find out more, contact us via email.
                        </p>
                     </div>
                  </div>
                  <div class="question-area">
                     <div class="my-3">
                        <h4 class="mb-3">
                           How do I release my funds from escrow?
                        </h4>
                        <p>
                           How you go about instructing your escrow service provider to release the funds / property
                           they are holding for your transaction will depend on what was previously agreed between the
                           parties to the transaction, and what trigger events / release conditions were included in the
                           escrow agreement. <br />
                           You should be aware of what action you need to take to release the funds / property from the
                           escrow service provider before signing the escrow agreement and before the funds / property
                           is deposited with them. In most cases evidence that both parties, or the relevant party
                           representatives, are in agreement that the funds / property can be released from escrow to
                           the receiving party. This may take the form of a payment instruction letter signed by all
                           parties, it could be receipt of an invoice for services, or a delivery notice signed by the
                           receiver. What documentation is needed will depend on the type of transaction and what is
                           agreed between the parties.<br />
                           In complex transactions the release conditions / triggers are often bespoke and drafted to
                           reflect the individual needs of each transaction. However, smaller or more simple
                           transactions may have standard release conditions / trigger events included in template
                           agreements. As an example, a transaction as part of a company sale would most often require
                           bespoke release conditions to be drafted, to work alongside the other legal documents
                           required as part of the sale. For a transaction where an individual is placing funds into
                           escrow as security for expenses, as part of a party wall award, you would most likely be able
                           to rely on standard release conditions included in a template agreement, as it is common for
                           the trigger to be based on sign off from surveyors.
                           It is worth noting that, if at the time of release of funds a dispute arises between the
                           parties, the escrow service provider will not have a responsibility to assist in settling the
                           dispute – they are simply responsible for holding the funds / property until the dispute has
                           been settled and the release condition / trigger is met.<br />
                           Our team would be happy to talk through how escrow services can be applied to your
                           transactional projects. To find out more, contact us via email.
                        </p>
                     </div>
                  </div>
                  <div class="question-area">
                     <div class="my-3">
                        <h4 class="mb-3">
                           How do I close my escrow account?
                        </h4>
                        <p>
                           In the event that all funds / property for your transaction have been released, the escrow
                           agreement will have been fulfilled and this will mark the end of the escrow services being
                           provided. At this point the escrow service provider normally confirms to all parties that the
                           funds / property have been released and that the matter is concluded.
                           If at any point during your transaction you wish to end the escrow services being provided to
                           you (but before all of the funds / property have been released), how you proceed will depend
                           on what stage you are at in the process. If you have not yet signed the escrow agreement you
                           will most likely just need to email your escrow service provider to let them know that you no
                           longer wish to go ahead with their services. If you have signed an engagement letter, ensure
                           that you have checked the terms to see if there is a specific termination procedure you need
                           to follow and if you will be liable for any outstanding fees.<br />
                           If you have already signed the escrow agreement, then you will need to check any termination
                           clauses included in the escrow agreement. The termination clauses will explain the steps you
                           will need to take to terminate the escrow agreement with your chosen escrow service provider.
                           As the agreement will, in most cases be held between multiple parties, they will all need to
                           agree to terminate the services being provided, before the escrow service provider can cease
                           to provide them.<br />
                           Our team would be happy to talk through how escrow services can be applied to your
                           transactional projects. To find out more, contact us via our email..
                        </p>
                     </div>
                  </div>
               </div>
            </section>
      </div>
   </div>
</div>
{% endblock main %}