{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <title>Ftx Express</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
         <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index_view' %}"><img src="{% static 'imgs/logo.png' %}" alt="FTX logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link {% if active == "index" %} {{"active"}} {% endif %}" aria-current="page" href="{% url 'index_view' %}">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link {% if active == "about" %} {{"active"}} {% endif %}" aria-current="page" href="{% url 'about_view' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link {% if active == "services" %} {{"active"}} {% endif %}" aria-current="page" href="{% url 'services_view' %}">Services</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link {% if active == "accounts" %} {{"active"}} {% endif %}" aria-current="page" href="{% url 'accounts_view' %}">Accounts</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link {% if active == "contact" %} {{"active"}} {% endif %}" aria-current="page" href="{% url 'contact_view' %}">Contact Us</a>
                  </li>
                  </li>
               </ul>
            </div>
         </div>
      </nav>

      <div class="container-fluid mt-3 sticky-top bg-white" id="faq">
         <div>
            <div class="py-2 mb-1">
               <div class="px-2 desktop-faq">
                  <ul class="d-flex justify-content-around m-0 menu">
                     <li>
                        <a class="showSingle active" target="6">All</a>
                     </li>
                     <li>
                        <a class="showSingle" target="1">My funds be held for escrow</a>
                     </li>
                     <li>
                        <a class="showSingle" target="2">Release my funds from escrow</a>
                     </li>
                     <li>
                        <a class="showSingle" target="3">Close my escrow account</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid">
      <div class="row">
         <div class="col-12 col-md-6">
            <div id="faq-contact-us" class="p-3 d-flex justify-content-center d-none d-md-block border-radius">
               <div class="d-flex justify-content-center align-items-center bg-gray  py-auto" id="faq-contact-us">
                  <div class="row d-flex justify-content-center">
                     <h1 class="fw-bold text-center text-green mb-4 col-12">
                  We are here to answer you
               </h1>
                     <div class="col-12">
                        <img src="{% static 'imgs/logo.png' %}" alt="logo" class="img-fluid">
                     </div>
                  </div>
               </div>
            </div>
            <div>
               <div class="container-fluid  border-radius  py-2 my-3" id="faq-for-sm">
                  <button class="border-0 bg-gray border-radius p-2 text-green fw-bold text-center col-12 " type="button" data-bs-toggle="collapse" data-bs-target="#faq-sm" aria-controls="faq-sm" aria-expanded="false" aria-label="Toggle navigation">
                  Find relevance   <span><i class=" ms-2 fas fa-question-circle"></i></span></button>
                  <div class="collapse navbar-collapse" id="faq-sm">
                     <ul class="fw-bold">
                        <li>
                           <a class="showSingle active" target="6">All</a>
                        </li>
                        <li>
                           <a class="showSingle" target="1">My funds be held for escrow</a>
                        </li>
                        <li>
                           <a class="showSingle" target="2">Release my funds from escrow</a>
                        </li>
                        <li>
                           <a class="showSingle" target="3">Close my escrow account</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-6 d-flex justify-content-center">
            <section class="cnt ">
               <section>
               <div id="div6" class="targetDiv">
               <h1 class="fw-bold mb-5">All Questions</h1>
                  <div class="question-area">
                     <div class="my-3">
                        <h4 class="mb-3 fw-bold text-green">
                           How will my funds be held for escrow?
                        </h4>
                        <p class="text-muted">
                           Once you have an escrow agreement in place, and signed by all parties, the next step will be to deposit the funds / real property with the escrow service provider. If it is real property (e.g. antiques or source code on memory stick) that will be held by the escrow service provider, they will have previously agreed with the parties a location for the property to be kept, and upon signing the escrow agreement the escrow service provider will request the property to be transferred to this location.
                           When funds are to be placed into escrow, the escrow service provider will make the request for the funds to be deposited upon signing the escrow agreement. The escrow service provider will supply the party depositing the funds with the relevant account information to make the payment. It is common for escrow service providers to hold the funds in a dedicated client account that is held in the escrow service provider’s name, much like a solicitor would. The client account can be “ring-fenced”, meaning that the Bank acknowledges that the funds held within the account do not belong to the escrow service provider. It also means that the funds can not be used for the needs of the business, for example if the escrow service provider were to become insolvent, the funds held in the client account could only be returned to the person who deposited them.
                           Once the funds have been deposited the escrow service provider will typically use accounting software to allocate the funds to the project. They will then confirm to all relevant parties that the funds have been received.
                           Our team would be happy to talk through how escrow services can be applied to your transactional projects. To find out more, contact us via email.
                        </p>
                     </div>
                  </div>
                  <div class="question-area">
                     <div class="my-3">
                        <h4 class="mb-3 fw-bold text-green">
                           How do I release my funds from escrow?
                        </h4>
                        <p class="text-muted">
                           How you go about instructing your escrow service provider to release the funds / property they are holding for your transaction will depend on what was previously agreed between the parties to the transaction, and what trigger events / release conditions were included in the escrow agreement. <br />
                           You should be aware of what action you need to take to release the funds / property from the escrow service provider before signing the escrow agreement and before the funds / property is deposited with them. In most cases evidence that both parties, or the relevant party representatives, are in agreement that the funds / property can be released from escrow to the receiving party. This may take the form of a payment instruction letter signed by all parties, it could be receipt of an invoice for services, or a delivery notice signed by the receiver. What documentation is needed will depend on the type of transaction and what is agreed between the parties.<br />
                           In complex transactions the release conditions / triggers are often bespoke and drafted to reflect the individual needs of each transaction. However, smaller or more simple transactions may have standard release conditions / trigger events included in template agreements. As an example, a transaction as part of a company sale would most often require bespoke release conditions to be drafted, to work alongside the other legal documents required as part of the sale. For a transaction where an individual is placing funds into escrow as security for expenses, as part of a party wall award, you would most likely be able to rely on standard release conditions included in a template agreement, as it is common for the trigger to be based on sign off from surveyors.
                           It is worth noting that, if at the time of release of funds a dispute arises between the parties, the escrow service provider will not have a responsibility to assist in settling the dispute – they are simply responsible for holding the funds / property until the dispute has been settled and the release condition / trigger is met.<br />
                           Our team would be happy to talk through how escrow services can be applied to your transactional projects. To find out more, contact us via email.
                        </p>
                     </div>
                  </div>
                  <div class="question-area">
                     <div class="my-3">
                        <h4 class="mb-3 fw-bold text-green">
                           How do I close my escrow account?
                        </h4>
                        <p class="text-muted">
                           In the event that all funds / property for your transaction have been released, the escrow agreement will have been fulfilled and this will mark the end of the escrow services being provided. At this point the escrow service provider normally confirms to all parties that the funds / property have been released and that the matter is concluded.
                           If at any point during your transaction  you wish to end the escrow services being provided to you (but before all of the funds / property have been released), how you proceed will depend on what stage you are at in the process. If you have not yet signed the escrow agreement you will most likely just need to email your escrow service provider to let them know that you no longer wish to go ahead with their services. If you have signed an engagement letter, ensure that you have checked the terms to see if there is a specific termination procedure you need to follow and if you will be liable for any outstanding fees.<br />
                           If you have already signed the escrow agreement, then you will need to check any termination clauses included in the escrow agreement. The termination clauses will explain the steps you will need to take to terminate the escrow agreement with your chosen escrow service provider. As the agreement will, in most cases be held between multiple parties, they will all need to agree to terminate the services being provided, before the escrow service provider can cease to provide them.<br />
                           Our team would be happy to talk through how escrow services can be applied to your transactional projects. To find out more, contact us via our email..
                        </p>
                     </div>
                  </div>
              </div>
                  <div id="div1" class="targetDiv">
                     <div class="question-area">
                        <div class="my-3">
                           <h4 class="mb-3 fw-bold text-green">
                              How will my funds be held for escrow?
                           </h4>
                           <p class="text-muted">
                              Once you have an escrow agreement in place, and signed by all parties, the next step will be to deposit the funds / real property with the escrow service provider. If it is real property (e.g. antiques or source code on memory stick) that will be held by the escrow service provider, they will have previously agreed with the parties a location for the property to be kept, and upon signing the escrow agreement the escrow service provider will request the property to be transferred to this location.
                              When funds are to be placed into escrow, the escrow service provider will make the request for the funds to be deposited upon signing the escrow agreement. The escrow service provider will supply the party depositing the funds with the relevant account information to make the payment. It is common for escrow service providers to hold the funds in a dedicated client account that is held in the escrow service provider’s name, much like a solicitor would. The client account can be “ring-fenced”, meaning that the Bank acknowledges that the funds held within the account do not belong to the escrow service provider. It also means that the funds can not be used for the needs of the business, for example if the escrow service provider were to become insolvent, the funds held in the client account could only be returned to the person who deposited them.
                              Once the funds have been deposited the escrow service provider will typically use accounting software to allocate the funds to the project. They will then confirm to all relevant parties that the funds have been received.
                              Our team would be happy to talk through how escrow services can be applied to your transactional projects. To find out more, contact us via email.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div id="div2" class="targetDiv">
                     <div class="question-area">
                        <div class="my-3">
                           <h4 class="mb-3 fw-bold text-green">
                              How do I release my funds from escrow?
                           </h4>
                           <p class="text-muted">
                              How you go about instructing your escrow service provider to release the funds / property they are holding for your transaction will depend on what was previously agreed between the parties to the transaction, and what trigger events / release conditions were included in the escrow agreement. <br />
                              You should be aware of what action you need to take to release the funds / property from the escrow service provider before signing the escrow agreement and before the funds / property is deposited with them. In most cases evidence that both parties, or the relevant party representatives, are in agreement that the funds / property can be released from escrow to the receiving party. This may take the form of a payment instruction letter signed by all parties, it could be receipt of an invoice for services, or a delivery notice signed by the receiver. What documentation is needed will depend on the type of transaction and what is agreed between the parties.<br />
                              In complex transactions the release conditions / triggers are often bespoke and drafted to reflect the individual needs of each transaction. However, smaller or more simple transactions may have standard release conditions / trigger events included in template agreements. As an example, a transaction as part of a company sale would most often require bespoke release conditions to be drafted, to work alongside the other legal documents required as part of the sale. For a transaction where an individual is placing funds into escrow as security for expenses, as part of a party wall award, you would most likely be able to rely on standard release conditions included in a template agreement, as it is common for the trigger to be based on sign off from surveyors.
                              It is worth noting that, if at the time of release of funds a dispute arises between the parties, the escrow service provider will not have a responsibility to assist in settling the dispute – they are simply responsible for holding the funds / property until the dispute has been settled and the release condition / trigger is met.<br />
                              Our team would be happy to talk through how escrow services can be applied to your transactional projects. To find out more, contact us via email.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div id="div3" class="targetDiv">
                     <div class="question-area">
                        <div class="my-3">
                           <h4 class="mb-3 fw-bold text-green">
                              How do I close my escrow account?
                           </h4>
                           <p class="text-muted">
                              In the event that all funds / property for your transaction have been released, the escrow agreement will have been fulfilled and this will mark the end of the escrow services being provided. At this point the escrow service provider normally confirms to all parties that the funds / property have been released and that the matter is concluded.
                              If at any point during your transaction  you wish to end the escrow services being provided to you (but before all of the funds / property have been released), how you proceed will depend on what stage you are at in the process. If you have not yet signed the escrow agreement you will most likely just need to email your escrow service provider to let them know that you no longer wish to go ahead with their services. If you have signed an engagement letter, ensure that you have checked the terms to see if there is a specific termination procedure you need to follow and if you will be liable for any outstanding fees.<br />
                              If you have already signed the escrow agreement, then you will need to check any termination clauses included in the escrow agreement. The termination clauses will explain the steps you will need to take to terminate the escrow agreement with your chosen escrow service provider. As the agreement will, in most cases be held between multiple parties, they will all need to agree to terminate the services being provided, before the escrow service provider can cease to provide them.<br />
                              Our team would be happy to talk through how escrow services can be applied to your transactional projects. To find out more, contact us via our email..
                           </p>
                        </div>
                     </div>
                  </div>
            </section>
            </div>
         </div>
      </div>
      
      <footer class="p-5">
         <div class="d-flex justify-content-center mb-4">
            <img src="{% static 'imgs/logo.png' %}" class="logo" alt="">
         </div>
         <h6 class="text-center">
            FTX Express Pty Ltd is a ASIC Australian Proprietary Limited by Shares Registered company operating under The Payment Systems (Regulation) Act 1998
         </h6>
      </footer>
      <!-- 3rd party JS files and scripts-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Internal JS scripts-->
      <script type="text/javascript">
         jQuery(document).ready(function(){
             $(".targetDiv").show();
         });
         
         
         jQuery(function(){
            jQuery('#showall').click(function(){
               jQuery('.targetDiv').show('.cnt');
            });
            jQuery('#hideall').click(function() {
               jQuery('.targetDiv').hide('.cnt');
            });
            
            jQuery('.showSingle').click(function(){
               jQuery('.targetDiv').hide('.cnt');
               jQuery('#div'+$(this).attr('target')).slideToggle();
         
            }); 
         });
      </script>
      <script type="text/javascript">
         var selector = '.desktop-faq ul li a';
         
         $(selector).on('click', function(){
         $(selector).removeClass('active');
         $(this).addClass('active');
         });
      </script>
      <script src="js/master.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </body>
</html>