{% extends 'base.html' %}
{% load static %}

{% block title %} FTX | Contact {% endblock title %}

{% block main %}
<section>
   <div class="container-fluid" style="margin-top: 120px">
      <div class="row">
         <div class="col-12 justify-content-center d-flex align-items-center">
            <div class="px-4">
               <h4 class="">Email:</h4>
               <h5>Contact@ftxexpress.com</h5>
               <h4 class="mt-4">Opening hours:</h4>
               <h5 class="mb-4">
                  Monday – Thursday:
                  <span class="text-green">9:00 – 17:30</span>
                  <br />
                  Friday:
                  <span class="text-green">9:00 – 17:00</span>
                  <br />
               </h5>
               <h5 class="">
                  The office is closed at weekends and bank holidays.
               </h5>
               <h4 class="mt-4">PLEASE NOTE:</h4>
               <p class="">
                  The information you provide to us when you contact us will be
                  used in accordance with our Privacy Policy . By providing your
                  information, you consent to us contacting you by electronic
                  means, for example email or SMS – if you do not want us to use
                  your information in this way, please contact us.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock main %}