{% extends 'base.html' %}
{% load static %}

{% block title %} FTX | Home {% endblock title %}

{% block main %}
{% comment %} <section class="d-flex align-items-center" style="margin-top: 120px">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="p-3">
               <h4>What is Escrow?</h4>
               <p class="mb-3">
                  Escrow is the term used when a contractual arrangement between
                  two or more parties is put in place, in which an Escrow
                  <span class="text-dark">
                     Company will hold funds or property during a transaction,
                  </span>
                  acting as an independent third party.
               </p>
               <p class="mb-3">
                  When providing Escrow Services the Escrow Company acts as a
                  third party to the transaction by holding the funds or property
                  until pre-agreed conditions have been met. Once the conditions
                  are met the Escrow Service provider will release the funds/
                  property held..
               </p>
            </div>
         </div>
      </div>
   </div>
</section> {% endcomment %}

<div style="margin-top: 120px; margin-bottom:40px;" class="container d-flex justify-content-center align-items-center">
   <div class="row col-12 col-md-11">
      <h4 class="text-center">Debt Capital Markets</h4>
      <h5 class="text-center text-muted mb-5">
         We offer escrow solutions for corporate and private equity entities
         issuing
         <br />
         bonds or receiving loans.
      </h5>
   </div>
</div>

<div class="container min-h-60 d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 order-2 order-md-1">
         <h4 class="text-green">
            Bond
            <span>and</span>
            —
            <br />
            Loan Issuance
         </h4>
         <p class="text-muted mb-2">
            FTX Express provides corporate and private equity firms with
            escrows that segregate bond and loan proceeds and can be used
            for a variety of transactions, including construction projects
            or acquisitions. FTX Express's services can also help mitigate
            the risk of proceeds being used for unintended purposes.
         </p>
      </div>

      <div class="col-12 col-md-4 order-1 order-md-2 d-flex jsutify-content-center">
         <img src="{% static 'imgs/bond.jpeg' %}" class="img-fluid" alt="" />
      </div>
   </div>
</div>

<div style="margin-top:70px" class="mb-5 container d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-3 d-flex justify-content-center">
         <img src="{% static 'imgs/other-landing.jpeg' %}" class="img-fluid" alt="" />
      </div>
      <div class="col-12 col-md-7">
         <h4 class="text-green">
            Other Lending
            —
            <br />
            Services
         </h4>
         <p class="text-muted mb-2">
            FTX Express can hold assets in escrow as collateral for loans to
            help mitigate the risk of default for the lender.
         </p>
      </div>
   </div>
</div>

<section class="mt-4">
   <div class="container-fluid">
      <div class="row d-flex align-items-center">
         <div class="col-12 col-md-6 my-1 p-2">
            <div class="text-center">
               <h4>What is Escrow?</h4>
               <p class="mb-3">
                  Escrow is the term used when a contractual arrangement between
                  two or more parties is put in place, in which an Escrow
                  <span class="text-dark">
                     Company will hold funds or property during a transaction,
                  </span>
                  acting as an independent third party.
               </p>
               <p class="mb-3">
                  When providing Escrow Services the Escrow Company acts as a
                  third party to the transaction by holding the funds or property
                  until pre-agreed conditions have been met. Once the conditions
                  are met the Escrow Service provider will release the funds/
                  property held..
               </p>
               <p class="mb-3">
                  Escrow Services can be <span class="text-dark">used</span> in almost any situation where <span
                     class="text-dark">money or property is being transferred</span> between parties.
               </p>
            </div>
         </div>
         <div class="col-12 col-md-4 my-1 p-2 d-flex justify-content-center">
            <img src="{% static 'imgs/home.jpeg' %}" alt="" class="img-fluid">
         </div>
      </div>
   </div>
</section>
<section id="question-area" class="d-flex align-items-center mt-5">
   <div class="container">
      <div class="row d-flex justify-content-center">
         <h2 class="text-center mt-5 mt-md-0 mb-5">
            How does escrow work? Our 5 step guide.
         </h2>
         <div class="col-12 col-md-9">
            <div class="accordion accordion-flush " id="accordionFlushExample">
               <div class="accordion-item border-0  my-2">
                  <h2 class="accordion-header" id="flush-headingOne">
                     <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <p class="fw-bold m-0">
                           1: A buyer and seller make an agreement - Agree terms.
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">
                           Party A and Party B agree to terms - FTX Express will
                           draft an escrow agreement tailored to the clients needs.
                           This agreement will contain specific release of funds
                           conditions.
                           <p class="fw-bold">
                              “FTX Express will act as an independent party in an agreement. This means that FTX Express
                              Escrow holds and regulates the funds of the transaction until the conditions set out in
                              the escrow agreement have been met.”
                           </p>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="accordion-item border-0 my-2">
                  <h2 class="accordion-header" id="flush-headingTwo">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <p class="fw-bold m-0">
                           2. The buyer pays FTX Express Escrow - Payment to escrow.
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">
                           Party A - submits a payment by approved payment method to our Escrow Account, FTX Express
                           verifies the payment and notifies the parties that funds have been deposited.
                        </p>
                        <p class="fw-bold">
                           “FTX Express will act as an independent party in an agreement. This means that FTX Express
                           Escrow holds and regulates the funds of the transaction until the conditions set out in the
                           escrow agreement have been met.”
                        </p>
                     </div>
                  </div>
               </div>
               <div class="accordion-item border-0 my-2">
                  <h2 class="accordion-header" id="flush-headingThree">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <p class="fw-bold m-0">
                           3. The seller sends the goods to the buyer - Contract performed.
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">
                           4. Party B provides the goods or services to party A.
                        </p>
                        <p class="fw-bold">
                           “FTX Express will act as an independent party in an agreement. This means that FTX Express
                           Escrow holds and regulates the funds of the transaction until the conditions set out in the
                           escrow agreement have been met.”
                        </p>
                     </div>
                  </div>
               </div>

               <div class="accordion-item border-0 my-2">
                  <h2 class="accordion-header" id="flush-headingFour">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <p class="fw-bold m-0">
                           4. The buyer accepts goods as per agreement - Contract complete.
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                     data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">
                           Party A receives the goods or services and proof of
                           contract and completing is provided.
                        </p>
                        <p class="fw-bold">
                           “FTX Express will act as an independent party in an agreement. This means that FTX Express
                           Escrow holds and regulates the funds of the transaction until the conditions set out in the
                           escrow agreement have been met.”
                        </p>
                     </div>
                  </div>
               </div>

               <div class="accordion-item border-0 my-2">
                  <h2 class="accordion-header" id="flush-headingFive">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <p class="fw-bold m-0">
                           5. Escrow releases funds to seller - Funds released.
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                     data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">
                           FTX Express releases funds to Party B from the Escrow
                           Account.
                        </p>
                        <p class="fw-bold">
                           “FTX Express will act as an independent party in an agreement. This means that FTX Express
                           Escrow holds and regulates the funds of the transaction until the conditions set out in the
                           escrow agreement have been met.”
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container-fluid min-h-100 py-5 d-flex align-items-center">
      <div class="container">
         <div class="owl-carousel how-we-get">
            <div class="item">
               <div class="fa-s-card">
                  <div class="p-4 servies-card-outer">
                     <h4 class="fa-s-card text-green">
                        <i class="fa-solid fa-money-check-dollar"></i>
                     </h4>
                     <h4>
                        Payments
                     </h4>
                     <p class="text-muted m-0 mt-4">
                        Fast — 15 seconds
                     </p>
                     <p>
                        Global, real-time payments infrastructure built for marketplaces. We can move money from buyer
                        to seller minus your fees in 15 seconds within the UK and Europe
                     </p>
                  </div>
               </div>
            </div>

            <div class="item">
               <div class="fa-s-card">
                  <div class="p-4 servies-card-outer">
                     <h4 class="fa-s-card">
                        <i class="fa-solid fa-building-columns"></i>
                     </h4>
                     <h4>
                        Banking
                     </h4>
                     <p class="text-muted m-0 mt-4">
                        Connected — 1,000 banks
                     </p>
                     <p>
                        Open USD, EUR and GBP accounts on the fly. The latest open banking technology with direct
                        connections with over 1,000 UK and European banks.
                     </p>
                  </div>
               </div>
            </div>

            <div class="item">
               <div class="fa-s-card">
                  <div class="p-4 servies-card-outer">
                     <h4 class="fa-s-card text-green">
                        <i class="fa-regular fa-credit-card"></i>
                     </h4>
                     <h4>
                        Credit
                     </h4>
                     <p class="text-muted m-0 mt-4">
                        Seamless — 2.0% / 30 days
                     </p>
                     <p>
                        Be like a bank. Offer net terms to your buyers and sellers. Payout sellers instantly before
                        buyers make the payment. Fair, straightforward pricing.
                     </p>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="fa-s-card">
                  <div class="p-4 servies-card-outer">
                     <h4 class="fa-s-card text-green">
                        <i class="fa-solid fa-shield-halved"></i>
                     </h4>
                     <h4>
                        Escrow
                     </h4>
                     <p class="text-muted m-0 mt-4">
                        Secure — Unlimited hold time
                     </p>
                     <p>
                        Protect buyers and sellers. Hold money until the goods or service are delivered. No time
                        restraints or compromises.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
</section>


{% endblock main %}

{% block js %}
<script>
   $(window).on("load", function () {
      var message = '{{request.user.profile.first_message}}'
      console.log(message);
      if (message != '') {
         if (sessionStorage.getItem("welcome") != null) {

         } else {
            sessionStorage.setItem("welcome", true);
            $("#welcome-modal").modal("show");
         }
      }
   });
</script>
{% endblock js %}