{% extends 'base.html' %}
{% load static %}

{% block mainContent %}

<section class="min-h-100 d-flex align-items-center bg-gray" style="margin-top: 77px;">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12 col-md-6">
            <div class="p-3">
               <h3 class="text-green mb-3">
                  We’re a 
                  <span class="text-white fw-bold">
                     <h2>Australian based escrow company</h2>
                  </span>
                  helping businesses and individuals exchange assets and funds.
               </h3>
               <h4 class="text-white fw-bold">
                  What is Escrow?
               </h4>
               <p class="text-green fw-bold mb-3">
                  Escrow is the term used when a contractual arrangement between two or more parties is put in place, in which an Escrow <span class="text-white">Company will hold funds or property during a transaction,</span> acting as an independent third party.
               </p>
               <p class="text-white fw-bold mb-3">
                  When providing Escrow Services the <span class="text-green">Escrow Company acts as</span> a third party to the transaction by holding the funds or property <span class="text-green">until pre-agreed conditions have been met.</span> Once the conditions are met the Escrow Service provider will release the funds/ property held..
               </p>
               <h4 class="text-green fw-bold">
                  Escrow Services can be <span class="text-white">used</span> in almost any situation where <span class="text-white">money or property is being transferred</span> between parties.
               </h4>
            </div>
         </div>
         <div class="col-12 col-md-6 py-3">
            <img src="{% static 'imgs/header-img.jpg' %}" class="img-fluid " style=" object-fit: cover;
               border-radius: 20px;
               height: 100%;
               width: auto;
               background-size: cover;" alt="">
         </div>
      </div>
   </div>
</section>

<section id="question-area" class="py-5 bg-green min-h-70 d-flex align-items-center">
   <div class="container">
      <div class="row d-flex justify-content-center">
         <h1 class="fw-bold text-center mt-5 mt-md-0 mb-5">
            Questions?
         </h1>
         <div class="col-12 col-md-9">
            <div class="accordion accordion-flush " id="accordionFlushExample">
               <div class="accordion-item border-0  my-2">
                  <h2 class="accordion-header" id="flush-headingOne">
                     <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <p class="fw-bold m-0">
                           What is it used for?
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">
                           Escrow can be used in relation to virtually any matter involving the transfer of money or property.
                           Examples include:
                        <ul>
                           <li>
                              Corporate financing and the raising of capital
                           </li>
                           <li>
                              Corporate transactions including mergers, acquisitions and sales
                           </li>
                           <li>
                              Charity and fundraising events
                           </li>
                           <li>
                              Loans where release of the loan money is conditional on a future event or is to be paid in instalments
                           </li>
                           <li>
                              Real estate and other property related transactions
                           </li>
                           <li>
                              Sales of high value property at a distance (eg cars, antiques and wine)
                           </li>
                           <li>
                              The holding of settlement funds following disputes
                              Please see our <a href="services.html" class="text-green fw-bold">services page</a>, for the types of service and sectors we work with.
                           </li>
                        </ul>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="accordion-item border-0 my-2">
                  <h2 class="accordion-header" id="flush-headingTwo">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <p class="fw-bold m-0">
                           What are the benefits of using Escrow?
                        </p>
                     </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <p class="accordian-text-dark">Escrow Services are commonly used to provide certainty to all parties involved in a transaction regarding flow of funds.
                           When using an Escrow Service, both parties will agree on set conditions that must be met before the Escrow Service provider releases any funds held in the Escrow Account.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container-fluid bg-gray min-h-100 py-5 d-flex align-items-center">
      <div class="container">
         <h1 class="fw-bold text-center text-info my-5">
            <b> How does Escrow work – our 5 step guide</b>
         </h1>
         <h5 class="text-center text-white my-5">
            FTX Express will act as an independent party in an agreement. This means that FTX Express Escrow holds and regulates the funds of the transaction until the conditions set out in the escrow agreement have been met.
         </h5>
         <div class="owl-carousel how-we-get">
            <div class="item">
               <div class="row p-2">
                  <div class="col-1">
                     <h1 class="fw-bold text-danger">1</h1>
                  </div>
                  <div class="col-11">
                     <div>
                        <h4 class="my-3 fw-bold text-green\">A buyer and seller make an agreement -
                           <span class="text-info">Agree terms</span>
                        </h4>
                        <p class="text-white">
                           Party A and Party B agree to terms - FTX Express will draft an escrow agreement tailored to the clients needs. This agreement will contain specific release of funds conditions. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row p-2">
                  <div class="col-1">
                     <h1 class="fw-bold text-danger">2</h1>
                  </div>
                  <div class="col-11">
                     <div>
                        <h4 class="my-3 fw-bold text-green\"> The buyer pays FTX Express Escrow -
                           <span class="text-info">Payment to escrow</span>
                        </h4>
                        <p class="text-white">
                           Party A - submits a payment by approved payment method to our Escrow Account, FTX Express verifies the payment and notifies the parties that funds have been deposited. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row p-2">
                  <div class="col-1">
                     <h1 class="fw-bold text-danger">3</h1>
                  </div>
                  <div class="col-11">
                     <div>
                        <h4 class="my-3 fw-bold text-green\">The seller sends the goods to the buyer -
                           <span class="text-info">Contract performed</span>
                        </h4>
                        <p class="text-white">
                           Party B provides the goods or services to party A. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row p-2">
                  <div class="col-1">
                     <h1 class="fw-bold text-danger">4</h1>
                  </div>
                  <div class="col-11">
                     <div>
                        <h4 class="my-3 fw-bold text-green\">The buyer accepts goods as per agreement -
                           <span class="text-info">Contract complete</span>
                        </h4>
                        <p class="text-white">
                           Party A receives the goods or services and proof of contract and completing is provided.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row p-2">
                  <div class="col-1">
                     <h1 class="fw-bold text-danger">5</h1>
                  </div>
                  <div class="col-11">
                     <div>
                        <h4 class="my-3 fw-bold text-green\">Escrow releases funds to seller -
                           <span class="text-info">Funds released</span>
                        </h4>
                        <p class="text-white">
                           FTX Express releases funds to Party B from the Escrow Account. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


{% endblock mainContent %}