{% extends 'base.html' %}
{% load static %}

{% block mainContent %}


<div class="container" style="margin-top: 77px;">
   <div class="row">
      <h1 class="text-center text-green mb-4 fw-bold">
         Escrow Services
      </h1>
      <h4 class="text-center text-black mb-3 fw-bold">
         FTX Express is a leading provider of high quality and cost effective escrow services.
      </h4>
      <div class="fw-bold bg-green p-3 border-radius text-black mb-3">
         <p>
            We act as a third party in holding funds or property until it can be released on terms agreed by the parties to the transaction. Escrow services give certainty to the parties to the transaction in that:
         </p>
         <ul class="text-white">
            <li>
               The buyer or fundraiser knows that the property or funds exist and will be made available to it when the transaction completes.
            </li>
            <li>
               The seller or investor knows that the property or funds will not be released to the buyer or fundraiser until the transaction completes
            </li>
         </ul>
      </div>
      <div class="bg-gray border-radius mb-3 p-3">
         <h1 class="text-center text-green mb-4 fw-bold">
            Types of Escrow Services
         </h1>
         <h4 class="text-center text-white mb-3 fw-bold">
            FTX Express is a leading provider of high quality and cost effective escrow services.
         </h4>
         <div class="container-fluid p-0 p-1">
            <div class="row">
               <div class="col-12 my-1">
                  <div class="r-card-outer p-2">
                     <h4 class="text-center fw-bold mb-3 text-green">
                        Fundraising
                     </h4>
                     <p class="text-center text-white fw-bold">
                        Whether you are looking to conduct an Investment fundraise, or you are raising money for your Charity, FTX Express Escrow are able to assist.
                     </p>
                  </div>
               </div>
               <div class="col-12 my-1">
                  <div class="r-card-outer p-2">
                     <h4 class="text-center fw-bold mb-3 text-green">
                        Charity Fundraising
                     </h4>
                     <p class="text-center text-white fw-bold">
                        In many charity and fundraising events, the money raised will need to be held pending release to the relevant beneficiaries. It is important the money raised through fundraising events is held and released at the right time.
                        Using Escrow services is a useful means of ensuring that the funds are held and that they are released as and when required. It offers the fundraiser the certainty that the funds are held in the escrow account, until they have reached their intended fundraising target. It also allows the parties donating to be confident in the in knowledge that all the funds will be release to the intended charities / beneficiaries once the relevant escrow completions have been met.
                     </p>
                  </div>
               </div>
               <div class="col-12 my-1">
                  <div class="r-card-outer p-2">
                     <h4 class="text-center fw-bold mb-3 text-green">
                        Investment Fundraising
                     </h4>
                     <p class="text-center text-white fw-bold">
                        When it comes to investment fundraising, certainty for all involved is often at the forefront of every transaction. Ensuring that funds are held by an independent third party offers peace of mind for both investors and business alike, and using an escrow service is a key component in commercial fundraising
                     </p>
                     <p class="text-center text-white fw-bold">
                        Setting up an escrow account allows investors to commit to making an investment with the knowledge that the funds will not be released to the business conducting the fundraise until the fundraising target has been met. It also ensures that, in the event that the Investment fundraise was not successful, the money is set aside to be returned to the investor.
                     </p>
                     <p class="text-center text-white fw-bold">
                        Equally, the business conducting the fundraise has the knowledge that its investors are committed to the investment, which allows the business to focus on reaching their Fundraising target and running their business.
                     </p>
                     <p class="text-center text-white fw-bold">
                        Payments out of the Escrow Account can even be staggered or linked to milestones, so the investors know their funds won’t all be used at once, and the businesses know the funds are available when needed.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container mb-3 bg-green p-4 border-radius">
         <h1 class="text-center text-white fw-bold">
            Construction & Development
         </h1>
         <p class="text-center fw-bold">
            FTX Express Escrow offers a variety services that can be used in the world of construction and development. From fixed fee escrow agreements relating to party wall matters, to escrow agreements relating to the Buying and selling of Real Estate, to bespoke agreements for Construction Escrow Accounts, we offer our clients high quality escrow services to meet their individual needs. Below we have some of the ways Escrow Services can be used in construction and development.
         </p>
         <div class="row">
            <div class="col-12 col-md-6">
               <div class="r-card-outer-pri my-1 p-2">
                  <h4 class="text-center fw-bold mb-3 text-white">
                     Construction Contracts
                  </h4>
                  <p class="text-center text-gray fw-bold">
                     It’s no secret that embarking on small or large scale construction project requires funding, and a skilled team of contractors. Over the years we have heard many stories in the press, of development companies becoming insolvent and no longer being able to pay their contractors.
                     Whilst there are a number of statutory and other rights that contractors can fall back on, these usually only provide outcomes after the developer has missed payments, and even then, they may not protect against insolvency and cannot guarantee payment. This is where the use of a Construction escrow account can offer a solution.
                     By placing funds into a construction escrow account, the developer is able to guarantee the funds are available for the project and contractors can be sure that the funds are set aside for their payment. These escrow payments, can be structured on specific milestones for the project in question.
                     FTX Express Escrow are able to draft a bespoke Construction Escrow Agreement that contain pre-agreed conditions that must be met by the contractors before any payments are released. These conditions are agreed upon by both the developer and the contractors and drafted into the Construction Escrow Agreement by FTX Express Escrow.
                     Once these conditions have been met, the escrow service provider can release the funds form the escrow account to the relevant party, as set out in the Construction Escrow Agreement.
                  </p>
               </div>
            </div>
            <div class="col-12 col-md-6">
               <div class="r-card-outer-pri my-1 p-2">
                  <h4 class="text-center fw-bold mb-3 text-white">
                     Property Sale
                  </h4>
                  <p class="text-center text-gray fw-bold">
                     Escrow services are commonly associated with buying and selling property. In the USA being ‘in escrow’ is a term indicating the Buyer and Seller of the property are currently negotiating the price and terms of the sale.
                     Much in the same way, escrow services can be used in Australia when buying or selling a property without the use of a mortgage. Putting money in escrow when buying a house or property can provide certainty to both seller and buyer throughout the transaction.
                     The Escrow Agreement will outline the conditions agreed upon by both the seller and buyer of the property, for example any maintenance of the property to be fulfilled by the seller before exchange, or after completion. Once these conditions have been agreed, the buyer will deposit the funds into the escrow account to be held against completion of the remedial work. Upon the completion of the conditions outlined in the Escrow Agreement, the escrow service provider will then release the funds to the seller of the property.
                     This process gives the seller peace of mind when carrying out any agreed works, allowing the seller to know that funds for the purchase will be available upon completion. 
                     It also allows the buyer to be confident that the seller is committed to the transaction, and is making the necessary steps to complete the sale of the property in accordance with the agreed upon terms.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="container bg-gray p-4 border-radius">
         <h1 class="text-center text-green fw-bold">
            Legal and Corporate Escrow Services
         </h1>
         <p class="text-center text-white fw-bold">
            FTX Express Escrow offers legal and corporate escrow services which provide certainty to legal transactions.
         </p>
         <div class="row">
            <div class="col-12 col-md-6">
               <div class="r-card-outer-pri my-1 p-2">
                  <h4 class="text-center fw-bold mb-3 text-green">
                     Dispute Resolution Escrow Services
                  </h4>
                  <p class="text-center text-white fw-bold">
                     Escrow services can be utilised when a dispute or litigation is settled and one party is required to pay money to the other as part of the settlement. In most cases escrow services are used when settlement monies may be due to be paid from one party to another, however the finalisation of the settlement is still pending.
                     The settlement monies are paid into the escrow account. The escrow service provider holds the sum of money until the settlement is finalised, and they have been notified of the outcome, usually by means of a court judgement or joint instruction from the parties in dispute after settlement. The escrow services provider will then release the funds to the relevant party.
                  </p>
               </div>
            </div>
            <div class="col-12 col-md-6">
               <div class="r-card-outer-pri my-1 p-2">
                  <h4 class="text-center fw-bold mb-3 text-green">
                     M&A Escrow Services
                  </h4>
                  <p class="text-center text-white fw-bold">
                     It is common place for corporate transactions to utilise escrow services when it comes to dealing with deferred consideration or earn outs. Both scenarios require the releasing of funds following completion, either on a set date or when certain criteria has been met.
                     Using escrow services provides the seller with reassurance that the buyer has the necessary funds to complete the purchase, as well as providing the buyer with the knowledge that the funds will not be released until the agreed conditions have been met.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


{% endblock mainContent %}