{% extends 'base.html' %}
{% load static %}

{% block title %} FTX | Services {% endblock title %}

{% block main %}

<div style="margin-top:140px; margin-bottom:50px;" class="container d-flex justify-content-center align-items-center">
   <div class="row col-12 col-md-11">
      <h4 class="text-center">Debt Capital Markets</h4>
      <h5 class="text-center text-muted mb-5">
         We offer escrow solutions for corporate and private equity entities
         issuing
         <br />
         bonds or receiving loans.
      </h5>
   </div>
</div>

<div class="container min-h-60 d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 order-2 order-md-1">
         <h4 class="text-green">
            Bond
            <span>and</span>
            —
            <br />
            Loan Issuance
         </h4>
         <p class="text-muted mb-2">
            FTX Express provides corporate and private equity firms with
            escrows that segregate bond and loan proceeds and can be used
            for a variety of transactions, including construction projects
            or acquisitions. FTX Express's services can also help mitigate
            the risk of proceeds being used for unintended purposes.
         </p>
      </div>

      <div class="col-12 col-md-4 order-1 order-md-2 d-flex jsutify-content-center">
         <img src="{% static 'imgs/bond.jpeg' %}" class="img-fluid" alt="" />
      </div>
   </div>
</div>

<div style="margin-top:90px" class="mb-5 container d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-3 d-flex justify-content-center">
         <img src="{% static 'imgs/other-landing.jpeg' %}" class="img-fluid" alt="" />
      </div>
      <div class="col-12 col-md-7">
         <h4 class="text-green">
            Other Lending
            —
            <br />
            Services
         </h4>
         <p class="text-muted mb-2">
            FTX Express can hold assets in escrow as collateral for loans to
            help mitigate the risk of default for the lender.
         </p>
      </div>
   </div>
</div>

<div style="margin-bottom:100px;" class="container min-h-80 d-flex align-items-center justify-content-center">
   <div class="row">
      <h2 class="text-center fw-bold mb-4">
         <span class="text-green">simple</span>
         borderless
         <br />
         <span class="text-green">banking</span>
         infrastructure
         <br />
         <span class="text-green">for</span>
         marketplaces
      </h2>
      <p class="text-center mb-4">
         The complete fintech layer for your marketplace across our
         <br />
         payments, escrow, banking and credit infrastructure. Made for B2B
         <br />
         and consumer marketplaces — split fees and design your payment
         <br />
         flow with our flexible, borderless API.
      </p>
      <div class="d-flex justify-content-center mb-2">
         <a href="">
            <button class="btn-get-started mx-auto">
               Get started
               <span><i class="ps-2 fa-solid fa-bolt"></i></span>
            </button>
         </a>
      </div>
      <div class="d-flex justify-content-center">
         <a href="">Contact Sales</a>
      </div>
   </div>
</div>


<div class="container d-flex justify-content-center">
   <div class="row col-12 col-md-11">
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h1 class="fa-s-card text-green">
               <i class="fa-solid fa-money-check-dollar"></i>
            </h1>
            <h4>Payments</h4>
            <p class="text-muted m-0 mt-4">Fast — 15 seconds</p>
            <p class="fa-s-card-text">
               Global, real-time payments infrastructure built for marketplaces.
               We can move money from buyer to seller minus your fees in 15
               seconds within the UK and Europe
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h1 class="fa-s-card text-green">
               <i class="fa-solid fa-building-columns"></i>
            </h1>
            <h4>Banking</h4>
            <p class="text-muted m-0 mt-4">Connected — 1,000 banks</p>
            <p class="fa-s-card-text">
               Open USD, AUD, EUR and GBP accounts on the fly. The latest open banking
               technology with direct connections with over 1,000 UK and European
               banks.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h1 class="fa-s-card text-green">
               <i class="fa-regular fa-credit-card"></i>
            </h1>
            <h4>Credit</h4>
            <p class="text-muted m-0 mt-4">Seamless — 2.0% / 30 days</p>
            <p class="fa-s-card-text">
               Be like a bank. Offer net terms to your buyers and sellers. Payout
               sellers instantly before buyers make the payment. Fair,
               straightforward pricing.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h1 class="fa-s-card text-green">
               <i class="fa-solid fa-shield-halved"></i>
            </h1>
            <h4>scrow</h4>
            <p class="text-muted m-0 mt-4">Secure — Unlimited hold time</p>
            <p class="fa-s-card-text">
               Protect buyers and sellers. Hold money until the goods or service
               are delivered. No time restraints or compromises.
            </p>
         </div>
      </div>
   </div>
</div>

<div style="margin-top:80px" class="container d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 order-2 order-md-1">
         <h4 class="text-green">
            Move
            <span>money</span>
            —
            <br />
            like a
            <span>bank</span>
         </h4>
         <p class="text-muted mb-2">
            Open safeguarded accounts on—the—fly for buyers, sellers, projects
            and even credit providers. Get customer money out of your
            operational accounts for PSD2 and DAC-7 compliance
         </p>
         <p class="text-muted mb-2">
            Dedicated IBANs, ACH routing codes and account numbers per project
            for no-fuss reconciliation and no messy reference numbers. Instantly
            automate your payment operations without humans and reference
            numbers. It’s that easy.
         </p>
      </div>
      <div class="col-12 col-md-4 order-1 order-md-2 d-flex justify-content-center">
         <img src="{% static 'imgs/control.jpeg' %}" class="img-fluid" alt="" />
      </div>
   </div>
</div>

<div style="margin-top:110px" class="container d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-4 d-flex justify-content-center">
         <img src="{% static 'imgs/img2.jpeg' %}" class="img-fluid" alt="" />
      </div>

      <div class="col-12 col-md-6">
         <h4 class="text-green">
            With
            <span>checkout</span>
            —
            <br />
            or
            <span>Invoice</span>
         </h4>
         <p class="text-muted mb-2">
            Add fees and collect money from buyers with Checkout. Easily define
            how money will move through your marketplace with immediate, escrow,
            funding or credit settlements to any seller’s email address. Buyers
            can seamlessly pay with card or select their bank for an instant
            checkout experience within their banking app.
         </p>
         <p class="text-muted mb-2">
            Checkout is not always an option for your buyers, especially on B2B
            marketplaces. Collect money off—platform and use settlements to
            define how money should move through your platform once it arrives
            in the Project. Print the dedicated account details on your invoices
            and we’ll handle the rest
         </p>
      </div>
   </div>
</div>

<div style="margin-top:110px" class="container d-flex align-items-center">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 order-2 order-md-1">
         <h4 class="text-green">
            Borderless
            <span>money</span>
            —
            <br />
            <span>payouts</span>
         </h4>

         <p class="text-muted mb-2">
            Split fees, route and release money to sellers from settlements or a
            project directly. Collect bank account details and verify sellers on
            payout for frictionless roll-out. Built for modern international
            sellers with multicurrency bank accounts through our FX operations
            in 35 currencies.
         </p>
         <p class="text-muted mb-2">
            International sellers have international needs. Give sellers the
            option to payout into different bank accounts based on their
            currency and jurisdiction.
         </p>
      </div>

      <div class="col-12 col-md-4 order-1 order-md-2 d-flex justify-content-center">
         <img src="{% static 'imgs/img1.jpeg' %}" class="img-fluid" alt="" />
      </div>
   </div>
</div>
<div style="margin-top:110px" class="container d-flex justify-content-center">
   <div class="row col-12 col-md-11">
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Global Reach</h4>
            <p class="fa-s-card-text">
               Tap into one of the largest payment networks in the world across
               220 countries with FX operations across 35 currencies to meet your
               global aspirations
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Fastest Routes</h4>
            <p class="fa-s-card-text">
               We can move money from buyer to seller minus fees in under 15
               seconds - most providers take 5 to 10 days. Slow payments drives
               lead leakage and lost revenue.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Local Routes</h4>
            <p class="fa-s-card-text">
               Avoid slow and expensive SWIFT payments. We move money through
               local hubs in our ever-growing local payment network, now in over
               50 countries.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Open Banking</h4>
            <p class="fa-s-card-text">
               Use the latest open banking technology for seamless checkout by
               bank through direct integrations with over 1,000 UK and European
               banks.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Instant Roll-out</h4>
            <p class="fa-s-card-text">
               Most payment providers need all sellers to verify upfront before
               they can even take their first payment. Remove friction and roll
               your product out across all listings from day 1.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Simple Integration</h4>
            <p class="fa-s-card-text">
               Our mission is to make fintech simple for marketplaces. We
               breakdown complex payments through a simple API.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Engineer-led Support</h4>
            <p class="fa-s-card-text">
               Join our Slack community and discuss the best integration option
               for you with our engineers. We’ll help your team get integrated.
            </p>
         </div>
      </div>
      <div class="col-12 col-md-3 fa-s-card">
         <div class="p-4 servies-card-outer">
            <h4>Integrate Credit</h4>
            <p class="fa-s-card-text">
               Chat to our team about how integrate credit or any pre-existing
               payment infrastructure to be PSD2 compliant through Projects.
            </p>
         </div>
      </div>
   </div>
</div>

{% endblock main %}